---
import ServiceLayout from '@layouts/ServiceLayout.astro'
import Container from '@components/container.astro'
import Footer from '@components/footer.astro'
import Sectionhead from '@components/sectionhead.astro'
import { fade } from 'astro:transitions'
import ServiceCard from '@components/serviceCard.astro'

const services = [
  {
    title: 'Desarrollo de software empresarial',
    bg: '#f9b234',
    description: `¿Su empresa busca optimizar sus procesos y aumentar su productividad? Con nuestro servicio de desarrollo de software empresarial, creamos soluciones tecnológicas a medida que se adaptan perfectamente a las necesidades únicas de su negocio. Desde la automatización de tareas repetitivas hasta la integración de sistemas existentes, le ofrecemos herramientas poderosas para tomar mejores decisiones y alcanzar sus objetivos.`
  },
  {
    title: 'Desarrollo Web',
    bg: '#3ecd5e',
    description: `¿Necesitas un sitio web que crezca contigo? Construimos sitios web escalables y fáciles de administrar. Nuestras plataformas te permiten actualizar tu contenido de forma sencilla y gestionar tu presencia en línea de manera eficiente. Además, ofrecemos servicios de mantenimiento para garantizar el correcto funcionamiento de tu sitio web`
  },
  {
    title: 'Servicios Técnicos',
    bg: '#e44002',
    description: `¿Tu equipo tecnológico te está dando dolores de cabeza? Nuestros servicios técnicos te ofrecen soluciones rápidas y eficaces a todos tus problemas informáticos. Desde la reparación de computadoras hasta la configuración de redes, contamos con un equipo de expertos altamente capacitado para mantener tu tecnología funcionando al máximo rendimiento.`
  },
  {
    title: 'Auditorias de Sistemas',
    bg: '#952aff',
    description: `¿Buscas optimizar el rendimiento de tus sistemas y reducir costos? Nuestras auditorías de sistemas te permiten identificar ineficiencias, cuellos de botella y áreas de mejora en tu infraestructura tecnológica. Te proporcionamos un plan de acción para optimizar tus procesos, aumentar la eficiencia y maximizar tu inversión en tecnología.`
  },
  {
    title: 'Sistema de monitorización',
    bg: '#cd3e94',
    description: `¿Busca maximizar el rendimiento de sus sistemas y tomar decisiones basadas en datos? Nuestro servicio de monitoreo de sistemas le proporciona información en tiempo real sobre el estado de su infraestructura. Con estos datos, podrá identificar cuellos de botella, optimizar recursos y mejorar la eficiencia de sus operaciones.`
  },
  {
    title: 'Gestion de Base de Datos',
    bg: '#4c49ea',
    description: `¿Quiere maximizar el rendimiento de sus bases de datos y garantizar la disponibilidad de sus datos? Nuestros servicios de gestión de bases de datos se encargan de optimizar la estructura y el rendimiento de sus bases de datos, asegurando un acceso rápido y confiable a la información.`
  },
  {
    title: 'Sincronizacion de Datos',
    bg: '#f9b234',
    description: `¿Quiere asegurar que sus datos estén siempre actualizados y sean consistentes en todos sus sistemas? Nuestros servicios de sincronización de datos garantizan que los cambios realizados en una base de datos se reflejen automáticamente en todas las demás, eliminando la duplicación de datos y asegurando la integridad de la información.`
  },
  {
    title: 'Proximamente...',
    bg: '#3ecd5e',
    description: `Proximamente...`
  }
]
---

<ServiceLayout title='Services'>
  <main
    transition:animate={fade({ duration: '.3s' })}
    class='service-container'>
    <Container>
      <Sectionhead>
        <Fragment slot='title'>Servicios</Fragment>
        <Fragment slot='desc'>
          Descubra nuestra gama de servicios diseñados para satisfacer sus
          necesidades y impulsar su éxito.
        </Fragment>
      </Sectionhead>

      <div class='ag-format-container'>
        <div class='ag-courses_box'>
          {
            services.map((service, index) => (
              <a
                href='/contact'
                class={`ag-courses_item`}
                onmouseover={`
              const element = document.querySelectorAll('.ag-courses_item')[${index}];
              if (element) {
                element.style.boxShadow = '0px 0px 25px ${service.bg}';
                element.style.transition = 'all 0.5s ease';
              }
            `}
                onmouseleave={`
              const element = document.querySelectorAll('.ag-courses_item')[${index}];
              if (element) {
                element.style.boxShadow =  '0 10px 8px rgba(0, 0, 0, 0.662)';
                element.style.transition = 'all 0.5s ease';
              }
            `}>
                <div class='ag-courses-item_link'>
                  <div
                    class='ag-courses-item_bg'
                    style={`background-color: ${service.bg};`}
                  />
                  <div class='ag-courses-item_title'>{service.title}</div>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </Container>
    <Footer />
  </main>
</ServiceLayout>

<style>
  .ag-format-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .ag-courses_item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border: 2px solid #0f172a;
    border-radius: 28px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.662);
  }

  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #0c1220;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }

  .ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
  }

  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    position: relative;
  }

  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all 0.5s ease;
  }

  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }

  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
  }
</style>
